# App Configuration
ASPNETCORE_ENVIRONMENT=development
ASPNETCORE_URLS=http://localhost:5211

# Database Configuration
DB_SERVER=localhost
DB_DATABASE=QLDSV_HTC
DB_USER=sa
DB_PASSWORD=your_password
DB_TRUST_SERVER_CERTIFICATE=true

# Student Connection String
DB_STUDENT_USER=
DB_STUDENT_PASSWORD=