@using QLDSV_HTC.Domain.Constants

@{
    var username = User.FindFirst(AppConstants.SessionKeys.Username)?.Value ?? "User";
    var group = User.FindFirst(AppConstants.SessionKeys.Group)?.Value ?? "";
    var initial = username.Length > 0 ? username[0].ToString().ToUpper() : "U";
}

<header class="app-header">
    <div class="d-flex align-items-center gap-3">
        <button class="btn d-lg-none" id="sidebarToggle" type="button" aria-label="Toggle Navigation Sidebar" aria-expanded="false" aria-controls="appSidebar">
            <i class="bi bi-list fs-4" aria-hidden="true"></i>
        </button>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="header-user" tabindex="0" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="header-user-info d-none d-sm-block">
            <div class="name">@username</div>
            <div class="role">@group</div>
        </div>
        <div class="header-avatar" aria-hidden="true">@initial</div>
    </div>
</header>
